<h1>Listing reviews</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Body</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.author %></td>
        <td><%= review.body %></td>
        <td><%= review.score %></td>
        <td><%= link_to 'Edit', edit_freelancer_review_path(@freelancer, review) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
